<html>
    <body>
        <div style="text-align: center;">
            <img src="https://ww2.ufps.edu.co/public/imagenes/template/header/logo_ufps.png">
        </div>
        <br>
        <br>
        <div style="text-align: center;">
            <h2>¡Hola $name, le damos la Bienvenida a Teilen!</h2>
            <br>
            <br>
            <span>Para nosotros es un honor contar con usted, podremos ayudarle a gestionar sus ideas, a descubrir las ideas de sus compañeros y alumnos y a gestionar con ellos los proyectos que tienen en sus materias.</span>
            <br>
            <br>
            <span>Tenga en cuenta que para ingresar debe usar sus credenciales de Divisist</span>
        </div>
        <br>
        <br>
        <div style="text-align: center;">
            <span>
                Responder al correo <a href='mailto:emartinezpinzon@gmail.com Subject=Respuesta%20desde%20Teilen' target='_top'>UFPS</a>
            </span>
        </div>
        <div style="text-align: right;">
            <strong>Recuerde no responder este correo.</strong>
        </div>
    </body>
</html>
